<div class='comment'>
    <h3><a href='./profile/{{user_id}}'>{{display_name}}</a></h3>
    <div class='difficulty-rating-wrapper'>
        <label>Difficulty Rating:</label>
        <script>displayDifficulty({{recipe_rating}});</script>
    </div>
    <p>{{comment_body}}</p>
</div>