<div id="footer">
     <a href="/">
          <img id="mini-logo" alt="Go Home" src="/static/SVG/logo.svg" />
     </a>

     <div class="footer-wrapper">
        <h5>© 2020 ReciPro LLC - Developed by: Bryce Hahn, Lucas Stella, Michael Jereza, Payton Olson</h5>
     </div>
</div>
