<div id="header">
     <a href="/">
          <img id="logo" src="/static/SVG/logo.svg" />
     </a>
     <div class="search-wrapper">
          <form action="/browse" method="get">
               <input name="name" type="search" placeholder="Find a Recipe"/>
               <button type="submit">Search</button>
          </form>
     </div>
     <div class="user-wrapper">
            {{#if isAuthenticated}}
            <button class='primary-button' onclick="location.href='/profile';">Profile</button>
            <button class='primary-button' onclick="location.href='/logout';">Logout</button>
            {{else}}
            <button class='primary-button' onclick="location.href='/login';">Log in</button>
            {{/if}}
     </div>

</div>
