{{> header}}

<main class='home-content'>
     {{!-- <div class="horizontal-center"> --}}
     <h1>Check out the latest recipes!</h1>
     <div class="recipe-carousel">
          {{#each recipes}}
          <div onclick="window.location='./recipe/{{this.recipe_id}}';">
               <a>{{this.recipe_name}}</a>
               <img src={{this.recipe_img}} />
          </div>
          {{/each}}
          
          <div class="browse-item" onclick="window.location.href='/browse'">
               <a>Browse all recipes</a>
          </div>
     </div>

     <div class='update-ingredients-wrapper'>
          <h2>Update My Ingredients</h2>
          <button class='primary-button' onclick="window.location.href='/new-recipe'">Upload a Recipe</button>
     </div>
     {{!-- </div> --}}
</main>
