<div class="horizontal-center header-padding">
    <h1>Check out the latest recipes!</h1>
    <div class="recipe-carousel">
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div>
            <a>PASTA</a>
            <img src="./pasta.jpg"/>
        </div>
        <div class="browse-item">
            <a>Browse all recipes</a>
        </div>
    </div>

    <div>
        <h2>Update My Ingredients</h2>
        <h2>Upload a Recipe</h2>
    </div>
</div>