<div class="centered-wrapper">
    <form id="login-wrapper" method="POST" action="">
        <div><h1>Login</h1></div>
        <input placeholder="Email" type="email" name="email" />
        <input placeholder="Password" type="password" name="password" />
        <input type="submit" value="Go"/>
        <br />
        <a href="./register">
            Create an Account
        </a>
    </form>
</div>