<div class="centered-wrapper">
    <div id="login-wrapper">
        <div><h1>Login</h1></div>
        
        <input placeholder="Email" type="email" />
        <input placeholder="Password" type="password" />
        <button class="invalid-button">Go</button>
    </div>
</div>