<div class="centered-wrapper">
    <div id="login-wrapper">
        <div><h1>Login</h1></div>
        
        <input placeholder="Email" type="email" />
        <input placeholder="Password" type="password" />
        <button>Go</button>
        <br />
        <a href="./register">
            Create an Account
        </a>
    </div>
</div>