<div class="centered-wrapper">
    <form id="login-wrapper" method="POST" action="">
        <div><h1>Create Account</h1></div>
        <input placeholder="Email" name="email" type="email" />
        <input placeholder="Display Name" name="displayName" type="text" />
        <input placeholder="Password" name="password" type="password" />
        <input placeholder="Repeat Password" name="confirmPassword" type="password" />
        <input type="submit" value="Register"/>
    </form>
</div>