<div class="centered-wrapper">
    <div id="login-wrapper">
        <div><h1>Create Account</h1></div>
        
        <input placeholder="Email" type="email" />
        <input placeholder="Display Name" type="text" />
        <input placeholder="Password" type="password" />
        <input placeholder="Repeat Password" type="password" />
        <button>Register</button>
    </div>
</div>