.recipe-wrapper{
    background-color: rgb(255, 255, 255);
    width: 90%;
    margin: 25px;
    padding: 15px;
}

.recipe-header{
    display: flex; flex-direction: column;
    margin-bottom: 50px;
}

#recipe-name{
    font-size: 3em;
    font-weight: bold;
}

#ingredients{
}

#comment-wrapper > div{
    border: 1px solid black;
    margin-left: 25px;
    padding: 15px;
    border-bottom: none;
}
#comment-wrapper > #comment-interface{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    margin-left: 25px;
    padding: 0px;
    border-bottom: none;
}
#comment-wrapper > div:last-child{
    border-bottom: 1px solid black;
}

#comment-box{
    font-size: 1.5em;
    display: inline-flex;
    width: 100%;
    height: 100%;
}

.comment-ratings{
    display: inline-flex;
    font-size: 1em;
    min-width: 8%;
    text-align: center;
}

.difficulty-rating-wrapper{
    display: flex;
    flex-direction: row;
}

#header-row{
    margin-bottom: 1em;
}
#header-info{
    display: inline-flex;
    flex-direction: column;
    width: 75%;
}

.recipe-img-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    height: 400px;
    overflow-y: hidden;
}

#recipe-img{
    height: 100%;
    z-index: 1;
    border-width: 0px 4px;
    border-style: solid;
    border-color:white;
}

#recipe-img-background{
    position: absolute;
    width: 100%;
    z-index: 0;
    margin: -25% 0 0 0;
    filter: blur(8px);
}